:root.theme-light {
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --text-color: #353430;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --button-hover: rgba(255, 141, 203, 0.4);
    --section-title-color: #353430;
}

:root.theme-light .header__rec {
    display: none;
}

:root.theme-light .header__theme-menu-button {
    color: #353430;
}

:root.theme-light .header__theme-menu-button_active {
    border: 1px solid #353430;
    color: #353430;
}

:root.theme-light .header__theme-menu-button:hover {
    border: 1px solid #32312D66;
}

:root.theme-light .header__theme-menu-button:focus-visible {
    outline: none;
    border-bottom: 1px solid #353430;
}

:root.theme-light .section__title {
    color: #353430;
}

:root.theme-light .card__title {
    color: #353430;
}

:root.theme-light .card__text {
    color: #353430;
}

:root.theme-light .advice-item__title {
    color: #353430;
}

:root.theme-light .advice-item__text {
    color: #353430;
}

:root.theme-light .title-decor {
    background-color: #ff8dcb;
    color: #353430;
}

:root.theme-light a {
    text-shadow: 2px 2px 0 #ff8dcb;
}

@media (prefers-color-scheme: light) {
    html:not(.theme-dark) {
        --bg-color: #fff1f7;
        --bg-image: url(../images/cover-image-light.png);
        --text-color: #353430;
        --title-color: #ffc2e6;
        --accent-color: #ff8dcb;
        --button-hover: rgba(255, 141, 203, 0.4);
        --section-title-color: #353430;
    }
    
    html:not(.theme-dark) .header__rec {
        display: none;
    }
    
    html:not(.theme-dark) .header__theme-menu-button {
        color: #353430;
    }
    
    html:not(.theme-dark) .header__theme-menu-button_active {
        border: 1px solid #353430;
        color: #353430;
    }
    
    /* ← ДОБАВИТЬ ЭТОТ БЛОК */
    html:not(.theme-dark) .header__theme-menu-button:hover {
        border: 1px solid #32312D66;
    }
    
    html:not(.theme-dark) .header__theme-menu-button:focus-visible {
        outline: none;
        border-bottom: 1px solid #353430;
    }
    
    html:not(.theme-dark) .section__title {
        color: #353430;
    }
    
    html:not(.theme-dark) .card__title {
        color: #353430;
    }
    
    html:not(.theme-dark) .card__text {
        color: #353430;
    }
    
    html:not(.theme-dark) .advice-item__title {
        color: #353430;
    }
    
    html:not(.theme-dark) .advice-item__text {
        color: #353430;
    }
    
    html:not(.theme-dark) .title-decor {
        background-color: #ff8dcb;
        color: #353430;
    }
    
    html:not(.theme-dark) a {
        text-shadow: 2px 2px 0 #ff8dcb;
    }
    
    html:not(.theme-dark) .decorated-zone::before,
    html:not(.theme-dark) .decorated-zone::after {
        border-inline-end-color: #353430;
        border-block-start-color: #353430;
        border-inline-start-color: #353430;
        border-block-end-color: #353430;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #000028;
        --bg-image: url(../images/cover-image-dark.png);
        --text-color: #f1b2ce;
        --title-color: #db00ff;
        --accent-color: #ff0070;
        --button-hover: rgba(255, 0, 112, 0.4);
        --section-title-color: #ff0070;
    }
    
    .header__rec {
        display: block;
    }
    
    .header__theme-menu-button {
        color: #ff0070;
    }
    
    .header__theme-menu-button_active {
        border: 1px solid #ff0070;
        color: #ff0070;
    }
    
    .section__title {
        color: #ff0070;
    }
    
    .card__title {
        color: #f1b2ce;
    }
    
    .card__text {
        color: #f1b2ce;
    }
    
    .advice-item__title {
        color: #f1b2ce;
    }
    
    .advice-item__text {
        color: #f1b2ce;
    }
    
    .title-decor {
        background-color: #ff0070;
        color: #000028;
    }
    
    a {
        text-shadow: 2px 2px 0 #ff0070;
    }

    
}

:root.theme-light .decorated-zone::before,
:root.theme-light .decorated-zone::after {
    border-inline-end-color: #353430;
    border-block-start-color: #353430;
    border-inline-start-color: #353430;
    border-block-end-color: #353430;
}